# a set of software design docs, named by revision.
[file.software_design]
pattern = "designs/approved/**/{name:PascalCase}.{rev:DDMonYY}.pdf"

# c source is stale if it's older than the latest design doc.
# c source requires an associated unit test.
[file.c_source]
pattern = "source/**/{name:camelCase}.c"
depends_on = ["software_design latest_by rev"]
rule = ["c_unit_test exists_by name"]

# warn if there are orphaned unit tests
[file.c_unit_test]
pattern = "tests/**/{name:camelCase}_unit_test.c"
depends_on = ["c_source by name warn"]
