
# proclint is meant mid to highly formalized processes, in this case
# we'd at a minimum have a software design document.
[file.software_design]
# design docs follow a strict naming convention and date format like 25Dec25
naming = "{name:PascalCase}_{date:DDMonYY}.pdf"
# design docs must be under the designs directory at some level
placement = "designs/**"

# all c source under source and camelcase
[file.c_source]
naming = "{name:camelCase}.c"
placement = "source/**"
depends = [
  # c source depends on the latest design doc (matched by latest date in filename)
  "software_design latest_by date"
]
rules = [
     # c source MUST have an associate unit test, matched by name field.
  "c_unit_test exists by name"
]

# all c headers directly under headers (no subdirectories) and camelcase
[file.c_header]
naming    = "{name:UPPERCASE}.h"
# headers must be directly in the headers/ dir, with no subdirectories
placement = "headers/"
depends = [
  # headers depend on software design also. On design change, they must be revalidated.
  "software_design latest_by date",
]

# for every c source we require a unit test under tests
[file.c_unit_test]
naming    = "{name:camelCase}_unit_test.c"
placement = "tests/**"
depends = [
  # unit tests should be updated when corresponding source is updated.
  "c_source by name",
]
rules = [
  # generate a warning when there are orphaned tests
  "c_source exists by name warning"
]