# asset structure and naming for 2D animation

[policies] # policies are either "error", "warn" or "quiet"
blocked   = "warn" # warn if work exists but its dependencies don't yet.
stale     = "warning" # warn if work exists but its dependencies are newer
untracked = "quiet" # don't report if there are files not covered by the spec (default)

[identifiers]
cut      = "cut{int(3+)}"
frame    = "frame{int(3+)}"
layer    = "{upper(1+)}"
sheet = "sheet_{int(1+)}"
id = "{int(3+}}"
version = "v{int(3+)}"
render = "{cut}_{version}"
description = "{UPPERCASE(3,24)}"
bg_id = "{id}_{description}"
revision = "rev{revision:DDMonYYYY}"

[file.storyboard]
# storyboard revs like: storyboard_rev25Dec2025.pdf
pattern = "storyboard/approved/storyboard_{revision}.pdf"

# check all scans are the expected size, resolution, color depth, format etc.
[validator.scan_check]
cmd = "scripts/scan_check {file}"

[file.layout]
pattern = "layouts/approved/{cut}/layout_{cut}.jpg"
depends = [
  # layout depends on the latest storyboard, by revision field
  "storyboard latest_by revision"
]
rules = [
  "validate scan_check",
]

[file.genga]
pattern = "genga/approved/{cut}/genga_{cut}_{layer}_{frame}.jpg"
depends = [
  # genga depends on the layout for same cut
  "layout by cut"
]
rules = [
  # every genga should have an xsheet with same cut number
  # but it may or may not exist yet, thus we warn.
  # This shows a kind of "weak dependency"
  "xsheet exists by cut warn",
  "validate scan_check",
]

# Here, we imagine a lot of background reuse, so they all reside in a structure
# not tied to cuts.
# Which backgrounds are used in what cuts is not reflected in the filesystem,
# so we can only enforce consistency in naming/placement.
# All BGs do depend on the storyboard, though.
[file.background]
pattern = "backgrounds/approved/bg_{bg_id}.jpg"
depends = [
  # BG depends on the latest storyboard, by revision field
  "storyboard latest_by revision"
]
rules = [
  "validate scan_check",
]

# XSheets are complex documents referring to numerous genga ("keyframes")
# and douga ("inbetweens") arranged in layers like A, B, C, etc.
# We propose some way to audit/lint/validate xsheets and make sure they're not meaningless.
# Since this (document-internal) information is complex, we can't easily audit it
# by filesystem alone.
[validator.xsheet_check]
cmd = "scripts/check_xsheet {file}"

# the xsheet might be broken up into multiple sheets.
[file.xsheet]
pattern = "xsheets/approved/{cut}/{cut}_{sheet}.xs"
rules = [
  "validate xsheet_check",
]

[file.douga]
pattern = "douga/approved/{cut}/douga_{cut}_{layer}_{frame}.jpg"
depends = [
  # I would absolutely think we should have an xsheet by the time we have douga,
  # so we error, not warn.
  "xsheet exists by cut"
]
rules = [
  "validate scan_check",
]

# In this use case, we imagine douga/xsheets/genga being physically reflected in
# the filesystem if they're reused between cuts (via symlinks or copying).
# This probably makes some sense due to the complexity of xsheet/genga/douga/bg coordination.
[file.cut]
pattern = "cuts/{cut}/{render}.mp4"
depends = [
  "genga by cut",
  "xsheet by cut",
  "douga by cut",
]
# weaker associations, which can't be checked by filesystem state, but
# worth knowing about.
# "any background could be associated with this shot"
associations = [
    "background"
]
